{#
 This file is part of the Customer Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function () {
        // append to layout
        $(".ec-orderPayment").last().after($("#customer-coupon-confirm").detach());
    })
</script>

<div id="customer-coupon-confirm" class="ec-orderCoupon">
    <div class="ec-rectHeading">
        <h2>{{ 'plugin_customer_coupon.front.shopping.header'|trans }}</h2>
    </div>

    <div id="customer_coupon_detail_box" class="column is-edit">
        {% if CouponOrder %}
            <strong class="ec-color-red">{{ 'plugin_customer_coupon.front.shopping.message.use_code'|trans({'%code%': CouponOrder.coupon_cd }) }}</strong>
        {% else %}
            {{ 'plugin_customer_coupon.front.shopping.message.empty'|trans }}
        {% endif %}
    </div>
</div>
